:root{

--background:#0B0F17;
--background2:#161B22;

--gold:#D4AF37;

--white:#FFFFFF;

--text:#D7D7D7;

--border:#2A2F38;

--success:#4CAF50;

--danger:#E53935;

--radius:14px;

--shadow:0 8px 25px rgba(0,0,0,.35);

}