/* ======================================
   RESPONSIVE
====================================== */

@media(max-width:1400px){

    .explorer{

        grid-template-columns:

        240px

        1fr

        300px;

    }

}

@media(max-width:1150px){

    .right-panel{

        display:none;

    }

    .explorer{

        grid-template-columns:

        240px

        1fr;

    }

}

@media(max-width:900px){

    .explorer{

        display:flex;

        flex-direction:column;

    }

    .left-panel{

        height:220px;

    }

    .center-panel{

        overflow:auto;

    }

    #board{

        width:min(92vw,560px);

        height:min(92vw,560px);

    }

}

@media(max-width:650px){

    .navbar{

        padding:0 15px;

    }

    .logo{

        font-size:18px;

    }

    .navbar nav{

        gap:15px;

    }

    .controls button{

        width:40px;

        height:40px;

        font-size:18px;

    }

}